body {
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 100%;
}

.header {
  background: #4F4F4F;
  display: flex;
  min-height: 80px;
}

.header__title {
  font-family: Exo, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 64px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin-left: 5%;
}

.header__link-container {
  display: flex;
  margin-left: 2%;
}

.header__link {
  font-family: Exo, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 10px;
}

.header__link::before {
  padding: 10px;
  content: '';
  border-left: 3px solid #FFFFFF;
  height: 40%;
}

.footer {
  min-height: 100px;
  background: #4F4F4F;
}

.content {
  background: #E5E5E5;
  font-family: Exo, sans-serif;
  padding: 3%;
}

.content__title {
  display: flex;
  font-family: Exo, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  color: #333333;
  margin: 10px;
}

.content__title::before {
  padding: 10px;
  content: '';
  border-left: 3px solid #FFFFFF;
  height: 40%;
}

.content__list {
  display: flex;
  flex-wrap: wrap;
}

.beer-card {
  min-height: 288px;
  width: calc(100%/7);
  min-width: 200px;
  height: auto;
  background: #FFFFFF;
  border-radius: 4px;
  margin: 10px;
}

.beer-card__title {
  font-family: Exo, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  padding: 10px;
}

.beer-card__tagline {
  font-family: Exo, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  padding: 10px;
}

.beer-card__image-wrapper {
  flex: auto;
}

.beer-card__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-height: 250px;
}

.beer-card__abv {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Exo, sans-serif;
  color: #FFFFFF;
  position: absolute;
  font-size: 16px;
  line-height: 21px;
}

.beer-about {
  display: flex;
  flex-wrap: wrap;
}

.beer-description {
  background: #FFFFFF;
  border-radius: 3px;
  margin: 10px;
  min-height: 288px;
  width: calc(90% - calc(100%/7));
}

.beer-description__title {
  margin: 10px;
  font-family: Exo, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.beer-description hr {
  border: 3px solid rgba(79, 79, 79, 0.69);
  margin-top: 5%;
  margin-left: 10px;
  max-width: 170px;
}

.beer-description__tips {
  font-family: Exo, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  margin: 2% 10px 10px;
  color: #4F4F4F;
}

.beer-other {
  margin: 10px;
  min-height: 200px;
  background: #FFFFFF;
  border-radius: 3px;
  width: calc(90% + 20px);
}

.beer-card__abv-container {
  display: flex;
  justify-content: flex-end;
  margin: 6px;
}
